:root {
    --bg-header: #171717;
    --white: #FFFFFF;
}

/* Resetting CSS */
* {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}

body {
    color: var(--white);
}

header {
    background-color: var(--bg-header);
    width: 100vw;
    height: 100vh;
}

article {
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--white);
    text-decoration: none; 
    mix-blend-mode: difference;
}

nav li {
    display: inline;
}